<div class="mt-4">
    <div class="row">
        <div class="col">
            <button>Đọc Ngay</button>
        </div>
        <div class="col">
            <h2>Tài liệu C++</h2>
            <iframe src="https://drive.google.com/file/d/1jmFq1C0gGhn-ohWbppClWI312wrEJOL_/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>
    </div>
</div>