<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <a href="{{document.lynk}}">  <button class="button-menu"> Tải tài liệu về</button> </a>
           
        </div>
        <div class="col-lg-9">
            <h1>{{document.name}} </h1>
            <iframe src="https://drive.google.com/file/d/1BhqmpjaKAke_p0S6xDHyjVF3MmBDLvot/preview" width="640" height="480" allow="autoplay"></iframe>
        <p>{{document.description}}</p>
        </div>
    </div>
</div>