


{{!-- thân --}}
<div class="csschovui">
<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
           <ul class="list-group">
  <li class="list-group-item active">Chủ Đề Liên Quan</li>
  <a href=""> <li class="list-group-item">Công Nghệ Thông Tin </li></a>
  <a href=""> <li class="list-group-item">Điện Tử Viễn Thông </li></a>
  <a href=""> <li class="list-group-item">Điện_Điện Tử </li></a>
  <a href=""> <li class="list-group-item">An Toàn Thông Tin </li></a>
</ul>


            <a href="{{document.document_id}}">  <button class="button-menu"> Tải tài liệu về</button> </a>
           
        </div>
        <div class="col-lg-9">
            <h1>{{document.name}} </h1>
            <iframe src="https://drive.google.com/file/d/{{document.lynk}}/preview" width="1000" height="1000" allow="autoplay"></iframe>
        <p class="card-text-33333">{{document.description}}</p>
        </div>
    </div>
</div>
</div>

