.card-course-item {
  margin-top: 16px; }

body {
  background-image: url("../img/backgroud.jpg");
  background-size: cover;
  background-position-y: -100px; }

.container {
  max-width: 960px;
  margin: 0px auto; }

#header {
  background-color: #323533; }

nav {
  display: flex;
  justify-content: center;
  justify-content: space-between; }

#logo {
  padding: 0px 0px; }

#logo img {
  max-width: 70px;
  height: 70px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

#main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

#main-menu li a {
  color: aliceblue;
  display: block;
  padding: 0px 26px;
  text-decoration: none;
  line-height: 70px;
  padding-right: 56px; }

#main-menu li {
  position: relative; }

#main-menu ul.sub-menu {
  position: absolute;
  background-color: #323533;
  padding: 0px 0px;
  list-style: none;
  width: 230px;
  border-bottom: 1px solid #323533;
  display: none; }

#main-menu li:hover > ul.sub-menu {
  display: block; }

#main-menu ul.sub-menu a {
  padding: 0px 8px;
  border-bottom: 1px solid #323533;
  left: 0; }

#main-menu ul.sub-menu li:last-child a {
  border: none; }

#main-menu .sub-menu > li:hover > a {
  background-color: #7db18e; }

#main-menu ul.sub-menu ul.sub-menu {
  left: 230px;
  top: 0px; }

#main-menu > li > a {
  position: relative; }

#main-menu > li > a::before {
  content: "";
  height: 4px;
  width: 0%;
  background-color: #e9dede;
  position: absolute;
  bottom: 0px;
  left: -12px; }

#main-menu > li:hover > a::before {
  width: 100%; }

.input-group-text {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem; }

.input-group {
  padding-top: 15px;
  padding-right: 0px; }

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: grid;
  padding-top: 0px 0px; }

.input-search {
  padding-right: 30px; }

.col-12 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  padding-top: 0px 0px; }

.login-box,
.register-box {
  padding-top: 60px;
  text-align: -webkit-center; }
