<div class="row product">
              <!--tao 1 list san pham-->
              <div class="col-md-3">
              <ul class="list-group">
  <li class="list-group-item active">Danh mục</li>
  <li class="list-group-item">bài giảng</li>
  <li class="list-group-item">giáo trình</li>
  <li class="list-group-item">tài liệu thực hành</li>
  <li class="list-group-item">ngân hàng kiểm tra</li>
</ul>
              </div>
              <!--ketthuc vung trai-->

            <!-- vung phai, hien thi 1 so tai lieu-->
            <div class="col-md-9">
              <h3>TÀI LIỆU PHỔ BIẾN</h3>
              <div class="row">

                <div class="col-md-3">
                <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
                </div>
                <div class="col-md-3">
                <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
                </div>
                <div class="col-md-3">
                <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
                <div class="col-md-3">
                <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
                </div>
                </div>
              </div>

            </div>
            