<body>
<div id="wrapper">
  <div id="header">
<nav class="container">
  <a href="" id="logo">
    <img src="../img/logo2.png" alt=""></a>
    
    <ul id="main-menu">
      <li> <a href="">DANH MỤC</a>
      <ul class="sub-menu">
        <li><a href="">Menu 2.1</a></li>
        <li><a href="">Menu 2.2</a>
        <ul class="sub-menu">
        <li><a href="">Menu 2.2.1</a></li>
        <li><a href="">Menu 2.2.2</a></li>
        <li><a href="">Menu 2.2.3</a></li>
        <li><a href="">Menu 2.2.4</a></li>
      </ul>
        </li>
        <li><a href="">Menu 2.3</a></li>
        <li><a href="">Menu 2.4</a></li>
        <li><a href="">Menu 2.5</a></li>
        <li><a href="">Menu 2.6</a></li>
        <li><a href="">Menu 2.7</a></li>
        <li><a href="">Menu 2.8</a></li>
      </ul>
      </li>
      <li>
<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">Search</button>
</div>
      </li>
      <li><a href="">HỎI ĐÁP </a></li>
      <li><a href="">ĐĂNG KÝ </a></li> 
      <li><a href="">ĐĂNG NHẬP </a></li>
    </ul>
</nav>
  </div>

</div>
</body>