{{!-- <body>
<div id="wrapper">
  <div id="header">
<nav class="container">
  <a href="" id="logo">
    <img src="../img/logo2.png" alt=""></a>
    
    <ul id="main-menu">
      <li> <a href="">DANH MỤC</a>
      <ul class="sub-menu">
        <li><a href="">Menu 2.1</a></li>
        <li><a href="">Menu 2.2</a>
        <ul class="sub-menu">
        <li><a href="">Menu 2.2.1</a></li>
        <li><a href="">Menu 2.2.2</a></li>
        <li><a href="">Menu 2.2.3</a></li>
        <li><a href="">Menu 2.2.4</a></li>
      </ul>
        </li>
        <li><a href="">Menu 2.3</a></li>
        <li><a href="">Menu 2.4</a></li>
        <li><a href="">Menu 2.5</a></li>
        <li><a href="">Menu 2.6</a></li>
        <li><a href="">Menu 2.7</a></li>
        <li><a href="">Menu 2.8</a></li>
      </ul>
      </li>
      <li>
<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">Search</button>
</div>
      </li>
      <li><a href="">HỎI ĐÁP </a></li>
      <li><a href="">ĐĂNG KÝ </a></li> 
      <li><a href="user/login">ĐĂNG NHẬP </a></li>
    </ul>
</nav>
  </div>

</div>
</body> --}}

 {{!-- <!---------------------------------------------------------------------------------------------->
<body class="hold-transition login-page" width="500px">
<div class="login-box  ">
  <div class="login-logo">
   
  </div>


<!--------------------------------------------------------------------------------------------->

  <div class="card col-md-5" style="display: flex">
    <div class="card-body login-card-body ">
      <p class="login-box-msg">THÔNG TIN ĐĂNG NHẬP</p>


<!--------------------------------------------------------------------------------------------->

      <form action="../../index3.html" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Tên Đăng Nhập" name="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Mật Khẩu" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

      <hr>

<!--------------------------------------------------------------------------------------------->
            <div class="row">
               <div class="col-12">
                  <button type="submit" name="dangnhap" class="btn btn-primary btn-block">ĐĂNG NHẬP</button>
               </div>
             </div>
             <br>
       
<!--------------------------------------------------------------------------------------------->


            <div class="row">
              <div class="col-12">
                <p class="mb-0">
                <a href="register.html" class="btn btn-primary btn-block text-center btn-danger">ĐĂNG KÍ</a>
                </p>
              </div>
            </div>
      



      </form>


<!--------------------------------------------------------------------------------------------->



      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->


</body>  --}}
