<div class="header">  
   <div class="item active">
        <img src="https://images.pexels.com/photos/1097456/pexels-photo-1097456.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Ảnh lỗi">
        <div class="caption">
          <h1>DOCUMENT PAGE</h1>
    <p class="slogan">Chia sẻ - Kinh nghiệm - Hỏi đáp</p>
        </div>      
      </div>
    
</div>
<div class="topnav">
         <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> DANH MỤC </a>
          <ul class="dropdown-menu">
            <li><a href="#">Merchandise</a></li>
            <li><a href="#">Extras</a></li>
            <li><a href="#">Media</a></li> 
          </ul>
        </li>
       
        {{!-- <a href="" title="Giới thiệu" class="active"> GIỚI THIỆU </a>
        <a href="" title="Các khóa học" class="active"> CÁC KHÓA HỌC </a>
        <a href="" title="Giáo án_bài giảng" class="active"> GIÁO ÁN_BÀI GIẢNG  </a>		
		<a href="" title="Luận văn" class="active"> LUẬN VĂN </a>
		<a href="" title="Ngoại ngữ" class="active"> NGOẠI NGỮ</a>
		<a href="" title="Y tế sức khỏe " class="active">Y TẾ_SỨC KHỎE</a>
        <a href="" title="Kỹ năng mềm" class="active"> KỸ NĂNG MỀM </a> --}}
        <div class="timkiem">
		 <input type="text" name="p" class="form-control" id="search-input" placeholder="Nhập từ khóa . . ." aria-describedby="emailHelp">
         </div> 
		<div class="login">
        <a href="" title="Đăng ký" class="active"> ĐĂNG KÝ </a>
		<a href="" title="Đăng nhập" class="active"> ĐĂNG NHẬP </a>
</div>
</div>