
  
<div >
    
<div class="tv tv1"><div class=" member1">
  <p class="para">GIỚI THIỆU CHUNG VỀ WEB</p>
  <ul>
    <li>tài liệu về các ngành học của PTIT</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div></div>
<div class="tv tv2"><div class=" member2">
<img src="" alt="Tuấn">
</div></div>
<div class="tv tv3"><div class="member member3">
 <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.6435-9/58814611_449472915823809_6376568293163008000_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=9e90zgnKAccAX8xwLKZ&_nc_ht=scontent.fhan2-2.fna&oh=00_AT-yalh5nsUrThDhf-HFIWofvGvWrtAwB44lKe0u-911jw&oe=62B10842" alt="Quân" class="img3">
</div></div>
<div class="tv tv4"><div class="member ">
  <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.6435-9/164366218_926360388135057_6431100721286897610_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=obQoRbi7qvsAX9c6ADB&_nc_ht=scontent.fhan2-4.fna&oh=00_AT9oqyeOrowNLuWt8lfCCQI6zjAS4Axlu2ekqdLAw1pyUw&oe=62AFF48B" alt="Lợi" class="img4">
  <ul class="member4">
<li>Họ và tên: Nguyễn Tiến Lợi</li>

<li>Mã sinh viên: B19DCVT240</li>

<li>Nội dung làm: fronend phần home và giới thiệu</li>
  </ul>
</div></div>
<div class="tv tv5"><div class="member member5">
  <img src="" alt="Minh">
</div></div>
<div class="tv tv6"><div class="member member6">
  <img src="" alt="Tùng">
</div></div>

</div>

</div>




























