
  <!-- Theme style -->
</head>

<!--------------------------------------------------------------------------------------------->
<body class="hold-transition login-page" width="100px">

<div class="register-box">
  <div class="register-logo">
    <a href="#"></a>
  </div>

  <div class="card col-md-5">
    <div class="card-body register-card-body">
      <p class="login-box-msg">ĐĂNG KÍ TÀI KHOẢN</p>


<!--------------------------------------------------------------------------------------------->



      

      <form action="" name="frm2" method="post">

        <div class="input-group mb-3">
          <input name="" type="text"  required class="form-control" placeholder="Full name"><!--tên hiển thị-->
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>



        <div class="input-group mb-3">
          <input name=" " type="text"  required class="form-control" placeholder="Username"><!--tên đăng nhập-->
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>



        <div class="input-group mb-3">
          <input name=" " type="email"  required class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>


        <div class="input-group mb-3">
          <input name=" " type="password"  required class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>


<!--------------------------------------------------------------------------------------------->
  
          <!-- /.col -->
          <div class="col-12">
            <button name="dangki" type="submit" class="btn btn-primary btn-block">ĐĂNG KÍ</button>
          </div>
          <hr>



          <div class="col-12">
          <a href="login.html" class="text-center btn btn-primary btn-block">QUAY VỀ LOGIN</a>
          </div>
        </div>

      </form>

      
      
    </div>
    </div>
</div>


</body>